# App
APP_ENV=development

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_WS_BASE_URL=ws://localhost:8080

# Backend
BACKEND_PORT=8080

# Postgres
POSTGRES_DB=chatvibe
POSTGRES_USER=chatvibe
POSTGRES_PASSWORD=chatvibepassword
POSTGRES_PORT=5432
DATABASE_URL=postgres://chatvibe:chatvibepassword@postgres:5432/chatvibe?sslmode=disable

# Redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

# Twitch
TWITCH_BOT_USERNAME=bot_username
TWITCH_BOT_OAUTH_TOKEN=oauth_token

#AI
AI_API_KEY=ai_api_key

# Limits
MAX_SUBSCRIBERS_PER_CHANNEL=25
AI_SUMMARY_WINDOW_SECONDS=30
CHANNEL_IDLE_SHUTDOWN_SECONDS=0